<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero_attack00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,640},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1024},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1152},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1280},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_attack11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1408},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_crouch00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_crouch01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1664},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_crouch02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1792},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_crouch03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1920},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_die00.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_die01.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_die02.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_die03.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_die04.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_hurt00.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_hurt01.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jump00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jump01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jump02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jump03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jump04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jump05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jump06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jump07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jump08.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jumpattack00.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jumpattack01.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jumpattack02.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_jumpattack03.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,640},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_stand00.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,768},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1024},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1152},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1280},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_stand05.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1408},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_stand06.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1536},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_stand07.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1664},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_standup00.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1792},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_standup01.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1920},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_standup02.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_standup03.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire00.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire01.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire02.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire03.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walk00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,128},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walkattack00.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,640},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walkattack01.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,768},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walkattack02.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walkattack03.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1024},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walkattack04.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1152},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_walkattack05.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1280},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire00.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1408},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire01.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1536},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire02.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1664},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire03.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1792},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire04.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1920},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire05.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire06.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire07.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire08.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire09.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire_end00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire_end01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire_end02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fire_end03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>npc_stand00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>npc_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>npc_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>npc_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,256},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>npc_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>npc_stand05.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>npc_stand06.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,640},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>npc_stand07.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,768},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire_end00.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire_end01.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1024},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire_end02.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1152},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire_end03.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1280},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire_end04.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1408},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hero_throwfire_end05.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1536},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_attack00.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1664},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_attack01.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1792},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_attack02.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1920},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_attack03.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_attack04.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_attack05.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_attack06.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_attack07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_attack08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_attack09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_die00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_die01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_die02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_die03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_die04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_die05.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_die06.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,640},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_die07.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,768},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_stand00.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1024},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1152},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1280},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1408},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_stand05.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1536},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_standup00.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1664},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_standup01.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1792},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_standup02.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1920},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_standup03.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_standup04.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_standup05.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_standup07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_standup08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_standup09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_walk00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_walk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_walk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_walk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_walk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,512},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_walk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,640},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_walk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,768},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>enemy_standup06.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>action.png</string>
			<key>realTextureFileName</key>
			<string>action.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>